
.top-nav{
    font-size: 24pt;
    text-align: center;
}

body{
    padding: 0px;
}

.main_container{
    padding: 3%;
}

label{
    margin-right: 15px;
}

.caption_container{
    padding: 10px;
}

.button_container{
    padding: 10px;
}

.display_used_yes_direction{
    display:none;
}
/*
#picker_container{
    zoom: 0.5;
    -moz-transform: scale(0.5);
}
*/