
.top-nav{
    font-size: 24pt;
    text-align: center;
}

body{
    padding: 0px;
}

.main_container{
    padding: 3%;
}

label{
    margin-right: 15px;
}

.caption_container{
    padding: 10px;
}

.button_container{
    padding: 10px;
}

/*
.radio-toolbar input[type="radio"] {
    display:none; 
}

.radio-toolbar label {
    display:inline-block;
    background-color:#ddd;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
}

.radio-toolbar input[type="radio"]:checked + label { 
    background-color:red;
}

.step{
    background-color: #b84139;
}
*/